@{
    ViewData["Title"] = "Senior Software Engineer";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Jeremy Heiner
    <br />jeremyheiner@gmail.com
    <br />801-309-9967</p>
