################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeopleSearch/bin
/PeopleSearch/obj
/PeopleSearchUnitTest/bin
/PeopleSearchUnitTest/obj
